.main
    .left-menu
        min-width: 15%
        max-width: 260px
        @media (max-width: 1367px) 
            width: 30%
        @media (max-width: $mobile)
            min-width: 30%
        @media (max-width: 768px)
            width: 100%
            max-width: none
        &__item
            cursor: pointer
            border-radius: 10px
            filter: drop-shadow(1.634px 2.516px 3.5px rgba(193,193,193,0.73))
            background-color: rgba(255,255,255,0.7803921568627451)
            padding: 1rem
            margin-bottom: 10px
            &:hover
                box-shadow: 0 0 3px 1px var(--main-color)
                transition-duration: 0.3s

        &__link
            color: #2a344c
        &__list
            @media (min-width: 1366px)
                position: sticky
                top: 165px
